/*==========[main]==========*/

.title {
	padding-left: 20%; font-size: 40px;
}

 .board {
	border-collapse: collapse;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	table-layout: fixed;
}

 .board .th{
	background-color: rgb(52, 152, 219, 0.61);
	font-size: 20px;
}

 .board td {
	font-size: 20px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

 .board .text_center {
	text-align: center;
}

 .selected_a {
	font-size: 20px;
}

 .selected_b { /* 선택됨 */
	font-size: 20px;
	color: rgb(52, 152, 219, 0.61);
}

 .searchSelect {
    margin: 10px;
	width: 100px;
	padding: .8em .5em;
	
	border: 1px solid #c0c0c0;
	background: url('../img/arrow.jpg') no-repeat 95% 50%;
	background-color: transparent;
	border-radius: 0px;
	
	font-size: 15px;
    color: black;
    font-family: 'Hanna', serif;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

 .searchInput {
	margin: 5px;
    width: 200px;
    height: 35px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 15px;
    color: black;
    font-family: 'Hanna', serif;
}

section .btn:hover {
	background-color: rgb(52, 152, 219, 0.61);
}

section .btn::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

section .btn:hover:after {
  height: 100%;
}

section .btn::before,
section .btn::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

section .btn,
section .btn::after {
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
  -o-transition: all 0.5s;
	transition: all 0.5s;
}

section .btn {
	margin: 5px;
    width: 100px;
    height: 35px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 15px;
    color: black;
    font-family: 'Hanna', serif;
}

/*==========[write]==========*/

#write .title {
	padding-left: 20%; font-size: 40px;
}

#write .main_write {
	text-align: center; width: 400px; height: 500px;
}

#write .writeInput {
	margin: 5px;
    width: 400px;
    height: 35px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 20px;
    color: black;
    font-family: 'Hanna', serif;
}

#write .writeTxtara {
	margin: 5px;
    width: 400px;
    height: 200px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 20px;
    color: black;
    font-family: 'Hanna', serif;
}

/*==========[detail]==========*/

#detail .title {
	padding-left: 20%; font-size: 40px;
}

#detail .detail_main {
	text-align: center; width: 1000px;
}

#detail .detail_title {
	font-size: 25px;
	text-align: left;
	background-color: #dcdcdc;
}

#detail .detail_info {
	font-size: 20px;
	text-align: left;
}


#detail .detail_content {
	text-align: left;
	font-size: 20px;
	white-space: pre-line;
}

/*==========[edit]==========*/

#edit .title {
	padding-left: 20%; font-size: 40px;
}

#edit .edit_write {
	text-align: center; width: 400px; height: 500px;
}

#edit .edit_input {
	margin: 5px;
    width: 400px;
    height: 35px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 20px;
    color: black;
    font-family: 'Hanna', serif;
}

#edit .edit_txtara {
	margin: 5px;
    width: 400px;
    height: 200px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
	font-size: 20px;
    color: black;
    font-family: 'Hanna', serif;
}